<!DOCTYPE html>
<html lang="en">
<head>
	<title>Заголовок</title>
	<meta charset="utf=8">
	<meta description = "Template code">
	<meta keywords="template, test">
</head>
<body>
	<div>
		<header>
			<h1>Hello World</h1>
			<div>
				<img src= "Templates/img/flopdemon.png" alt="logo">
				<a href="https://www.s-vfu.ru/" target="_blank">
			</div>
			<nav></nav>
		</header>
		<main>
			<section id="section1" class="section">
				<h2>Секция 1</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum necessitatibus nam qui, quaerat tempora debitis consectetur laboriosam ipsam, a aliquam. Eaque velit at tempore dolore, laudantium quo ab ducimus fuga? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias accusantium dolor rerum sit facilis officia et, vero dolore, quam quidem cupiditate dolorem officiis quo nihil tempore consequuntur a tenetur cumque?
				Optio molestiae totam cum amet recusandae, accusamus eius assumenda, quibusdam fugit illo et nobis reprehenderit alias doloremque veritatis, excepturi. Inventore molestiae, fugit architecto a sint ipsa. Impedit iste atque velit!
				Tempora molestiae facilis eveniet porro aliquid tempore praesentium repellat amet possimus similique omnis eaque iure, perferendis, libero itaque tenetur unde ipsam soluta voluptatum non vel. Laboriosam illo voluptate ad, similique.
				Rem similique, porro tenetur facere minus provident cumque odio repellendus nemo voluptates quibusdam excepturi animi autem quae sint, alias natus! Sint eius nemo voluptatem ipsum dignissimos culpa, accusantium voluptas quas.
				Eius culpa ea, exercitationem ex ratione. Ipsam minima voluptate rerum modi, ratione architecto aliquam officia adipisci itaque necessitatibus obcaecati. Facilis a esse ipsum reiciendis maiores quasi temporibus consequatur, aliquam, repellat.
				Quae, dolorum sapiente earum optio tempore, hic facilis dolore, aut, non possimus atque eveniet ipsa aperiam. Eveniet debitis ratione molestias, natus, mollitia modi minus ipsam, illum quae praesentium, odio corporis!
				Provident voluptates deleniti assumenda laboriosam cum amet corporis debitis fuga ea, facilis sunt ipsam. Unde dolorem alias eius doloribus corrupti, numquam id odit sint minima aliquam voluptatum recusandae officia amet.
				Reiciendis, ad facilis corrupti fuga? Facilis veniam, ducimus, ab magni repellat consequuntur ea esse ad. Soluta quo culpa nesciunt sunt sit expedita ullam id, nemo similique, obcaecati, aliquam deserunt repellat?
				Itaque eos laborum soluta quia nisi unde! Voluptates sit quae nihil pariatur maxime molestiae minus minima, dignissimos neque cumque qui ipsam id blanditiis cum impedit veniam, architecto, alias aut inventore!
				Distinctio quas veniam ratione tempore! Blanditiis soluta numquam nisi cumque maxime, id porro reprehenderit quasi odit atque iure placeat earum, rem assumenda quae facere modi autem. Obcaecati qui fuga, eos.</p>
				<ul>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ul>
			</section id="section2" class="section">
			<section>
				<h2>Секция 2</h2>
				<p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Nulla eveniet minima, deserunt. Earum necessitatibus ea animi, eligendi accusantium illo molestiae saepe similique modi, temporibus est aperiam tempora labore eos quaerat!</p>
				<ol>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ol>
			</section>
		</main>
		<footer>
			<div></div>
		</footer>
	</div>
</body>
</html>